.ItemView {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    background: rgba(255, 255, 255, 0.35);
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.ItemView.selected {
    box-shadow: inset 0 0 0 5px rgba(255,153,153,0.7);
}

.ItemImage {
    position: absolute;
    background: no-repeat center;
    background-size: contain;
    z-index: 1;
    left: 10px;
    top: 10px;
    width: 70px;
    height: 70px;
}

.ItemImage.background {
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
}

@media all and (orientation: portrait) {
    .ItemView {
        margin: 0 0.1em;
    }
}
