body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.game {
    margin: 10px auto;
    width: 1024px;
    background: #FAFFD5;
    padding: 10pt;
}

.game h1 {
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
}

.game.uppercase .letter-area,
.game.uppercase .selection-area {
    text-transform: uppercase;
}

.tool-area {
    text-align: right;
}

.image-area,
.result-area,
.selection-area,
.letter-area {
    text-align: center;
}

.image-area,
.letter-area,
.selection-area,
.tool-area {
    padding: 10pt;
    margin: 10px;
}

.image-area,
.letter-area,
.selection-area {
    border: 1px solid black;
    border-radius: 10px;
    min-height: 65pt;
}

.image-area img {
    border: 4px solid black;
    border-radius: 100px;
}

.letter {
    font-size: 20pt;
    display: inline-block;
    padding: 7pt;
    border: 1px solid black;
    margin: 10pt;
    text-align: center;
    width: 35pt;
    border-radius: 7pt;
}

.letter-area .letter.selected {
    background-color: gray;
}

.selection-area .letter {
    background-color: #6262DA;
    color: white;
}

.result-area .correct {
    font-size: 26pt;
    color: blue;
}

.button {
    padding: 5pt;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
}
