.CategoryList {
    margin: 0 0.3em;
    display: inline-block;
}

.CategoryItem {
    position: relative;
    text-align: center;
}

.CategoryItem.missing > .ItemView {
    background: rgba(255, 255, 255, 0.2);
}
.CategoryItem.missing > .ItemView > .ItemImage {
    opacity: 0.5;
}
.CategoryItem.missing > .ItemView > .ItemImage.background {
    opacity: 0.3;
}

.CategoryTitle {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    font-size: 9pt;
    z-index: 2;
}

.CategoryTitle {
    transform-origin: left top;
    transform: translate(0, 90px) rotate(-90deg);
    background: rgba(0,0,0,0.3);
}

.CategoryItem.selected .CategoryTitle {
    background: rgba(255,153,153,0.7);
}

@media all and (orientation: portrait) {
    .CategoryList {
        margin: 0.3em 0;
    }

    .CategoryItem {
        display: inline-block;
    }
}
