.ItemSelector {
    position: relative;
}

.CategoryTitle {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    font-size: 9pt;
    z-index: 2;
}

.CategoryTitle {
    transform-origin: left top;
    transform: translate(0, 100px) rotate(-90deg);
    background: rgba(0,0,0,0.3);
}

.ItemList {
    position: absolute;
    top: 0;
    left: 100px;
    height: 100px;
    z-index: 3;
    white-space: nowrap;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    border-radius: 0.4em;
    padding: 0 0.1em;
}

.ItemList .ItemView {
    margin: 0 0.1em;
}
