.App {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.App-toolbar-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
    z-index: 2;
    overflow: visible;
}

.App-toolbar {
    width: 110px;
    background-color: #222;
}

.App-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 110px;
    right: 0;
    overflow: scroll;
    padding-bottom: 1em;
    z-index: 1;
}
