.App {
}

.App-main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 110px;
    right: 110px;
    overflow: hidden;
}

.App-toolbar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 110px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #222;
}

.App-toolbar.primary {
    left: 0;
}

.App-toolbar.secondary {
    right: 0;
}

.App-toolbar::-webkit-scrollbar { width: 0 !important }
