.App {
}

.App-main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 110px;
    right: 110px;
    overflow: hidden;
}

.App-toolbar-container,
.App-toolbar2-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 110px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #222;
}

.App-toolbar-container {
    left: 0;
}

.App-toolbar2-container {
    right: 0;
}

.App-toolbar {
    width: 110px;
    background-color: #222;
}

.App-toolbar-container::-webkit-scrollbar,
.App-toolbar2-container::-webkit-scrollbar { width: 0 !important }
