.ToolBar {
    color: white;
    vertical-align: top;
    text-align: center;
}

.LogoArea {
    margin-top: 10pt;
    display: inline-block;
}

.App-logo {
    height: 60px;
    margin-top: 10px;
}

.Logo {
    background-color: #ff9999;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    display: inline-block;
}

h1 {
    font-size: 16pt;
    margin: 0.4em;
}
