.Game {
    padding: 0;
}

.Content {
    width: 1024px;
    height: 1024px;
    display: block;
    transform-origin: top left;
}

.Image {
    position: absolute;
}

.Image.background { z-index:  0; }
.Image.wings      { z-index:  1; }
.Image.body       { z-index:  2; }
.Image.shoes      { z-index:  3; }
.Image.leg        { z-index:  4; }
.Image.chest      { z-index:  6; }
.Image.necklace   { z-index:  8; }
.Image.hair       { z-index: 30; }
.Image.eyes       { z-index: 40; }
.Image.crown      { z-index: 50; }
.Image.other      { z-index: 60; }
